<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}actualités{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    </body>
</html>
