<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nous trouver{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

    </head>
    <body>

    </body>
</html>
